.backgound{
    background-color: #1A3966!important;
}

.margin__top{
    margin-top: 5rem;
}

.cor__lista{
    color: #fff;
}

.espacar{
    margin-top: 1rem;
}

.espacar__sair{
    margin-top: 4rem;
}

.aproximar{
    margin-left: -1rem;
}
